{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <div class="text-center">
        <h1>Hello, {{ request.user }}!</h1>
        <h5>This is your profile</h5>
        {% if profile.profile_image %}
            <img class="rounded-circle mb-3" src="{{ profile.profile_image.url }}" alt="" width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3" src="{% static 'images/profile.webp' %}" alt="" width="140"
                 height="140">
        {% endif %}
        <div class="w-50 m-auto">
            <form action="{% url 'profile details' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
    <hr>
    {% if products %}
        <h2 class='text-center'>These are yor products</h2>
        <div class="row">
            <div class="row">
                {% for p in products %}
                    <div class="col-lg-4">
                        <div class="card" style="width: 20rem; height: 45rem;">
                            <img src="{{ p.image.url }}" style="height: 20rem;" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ p.title }}</h5>
                                <p class="card-text" style="font-size: 18px;">Description: {{ p.description }}</p>
                                <p class="card-text" style="font-size: 21px;"><strong>Owner: {{ request.user }}</strong></p>
                                <a href="{% url 'details product' p.id %}" style="position: absolute; left: 0; bottom: 0; margin: 10px;" class="btn btn-primary">See details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="text-center">
            <h2>You have no products</h2>
            <a href="{% url 'add product' %}" class="btn btn-success">Add Product</a>
        </div>
    {% endif %}

{% endblock %}