{% extends 'shared/base.html' %}
{% block content %}
    <p style="text-align: center">Phone number: 0888888888</p>
    <p style="text-align: center">Email: buy.from.us.business@gmial.com</p>
    <p style="text-align: center">Owner: Lyubomir Dimitrov</p>
    <br>
    <br>
    <div style="text-align: center;">
    <div class="elementor-column elementor-element elementor-element-n6ak27d elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
				<div class="elementor-widget-wrap">
		        <div class="elementor-widget elementor-element elementor-element-zxyihdi elementor-widget-heading" data-element_type="heading">
                <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default none"><span>Our Office</span></h2>        </div>
                </div>
                <div class="elementor-widget elementor-element elementor-element-a3x1609 elementor-widget-google_maps" data-element_type="google_maps">
                <div class="elementor-widget-container">
            <div class="elementor-custom-embed"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Sofia%2C+magazin+Stenata+%D1%86%D0%B5%D0%BD%D1%82%D1%8A%D1%80&amp;t=m&amp;z=16&amp;output=embed&amp;iwloc=near"></iframe></div>        </div>
                </div>
        				</div>
			</div>
		</div>
    </div>
{% endblock %}