{% extends 'shared/base.html' %}
{% block content %}
    <h2>Shipping</h2>
        <p style="padding-bottom: 19px"> We only work with DHL. You will receive your order within 5 business days.</p>

    <h2>Payment method</h2>
        <p style="padding-bottom: 19px">You can pay cash or online via PayPal / bank transfer.</p>

    <h2>Shipping cost</h2>
        <p style="padding-bottom: 19px"> If your purchase is below 25$ you should pay 2$ transport fee.</p>

    <h2>Our return policy</h2>
        <p style="padding-bottom: 19px"> You can return every product  within 7 days after the purchase if the product is in the same condition.</p>

{% endblock %}