{% extends 'shared/base.html' %}
{% block content %}
    <h2 style="text-align: center; font-style: italic">Don't miss something new</h2>
    <div class="d-inline p-2 w-50">
        <a href="https://www.facebook.com/OLXbg" target="_blank">
            <center><img alt="Facebook"
                         src="https://www.freepnglogos.com/uploads/facebook-icons/facebook-icon-basic-round-social-iconset-icons-4.png"
                         width=150" height="150"></center>

            <p style="text-align: center">Facebook</p>
        </a>
        <a href="https://www.instagram.com/olxbulgaria/" target="_blank">
            <center><img alt="Instagram"
                         src="https://www.freepnglogos.com/uploads/instagram-logo-png-transparent-background-hd-3.png"
                         width=150" height="150"></center>

            <p style="text-align: center">Instagram</p>
        </a>
    </div>
{% endblock %}