{% extends 'shared/base.html' %}
{% block content %}
<a href="https://www.amazon.com/" target="_blank">
         <center><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" width=350" height="200"></center>

        <p style="text-align: center;padding-bottom: 20px; color:indianred">Amazon</p>
      </a>
    <a href="https://www.ebay.com/" target="_blank">
         <center><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/EBay_logo.svg" width=350" height="200"></center>

        <p style="text-align: center;padding-bottom: 20px; color:indianred">Ebay</p>
      </a>
     <a href="https://www.etsy.com/" target="_blank">
         <center><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Etsy_logo.svg" width=350" height="200"></center>

        <p style="text-align: center;padding-bottom: 20px; color:indianred">Etsy</p>
      </a>
{% endblock %}